<section>
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32 lg:pt-32">
    <div class="lg:text-center">
      <h1
        class="text-3xl tracking-tight text-balance font-medium font-display text-black md:text-6xl mb-8"
      >
        Where Square Sellers level up
      </h1>
      <h2
        class="text-xl tracking-tight text-balance font-medium font-display text-black md:text-2xl"
      >
        Square Seller tips, tricks and tools to help you get more out of Square!
      </h2>

      <p
        class="mt-4 text-xl tracking-tight text-balance font-medium font-display text-black"
      >
        Square is often great at first, until you run into those secret sharp
        edges. I'm here to help you smooth them out.
      </p>
    </div>
  </div>
</section>
